# Lines that start with `#` are ignored.
[alpha]
/src/Command/**/* @teams/alpha
/src/Service/ @teams/alpha john@doe.com
.gitlab-ci.yml @teams/alpha henkie

[beta] @teams/beta
/src/Command/Config/ConfigPhraseKeyCommand.php
/src/DependencyInjection/
.gitlab-ci.yml

^[gamma][3] @teams/gamma
/tests/Unit/Service/

[delta]
/tests/Unit/Command